@charset "utf-8";

html,body {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
	background: #222;
	
	min-width: 900px;

	font-size: 0.9em;
	font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
	color: black;
}

a, a:link, a:visited {
	color: #8c8c8c;
	font-weight: bold;
	text-decoration: none;
}

	a:hover {
		color: #ccc;
	}

div#container {
	position: relative;

	height: auto !important;
	height: 100%;
	min-height: 100%;
}

div#toplinks ul {
	width: auto;
	margin: 5px;
	padding: 0;
	float: left;
}

div#toplinks li {
	list-style: none;
	display: inline;
	font-size: 0.9em;
}

div#account {
	width: auto;
	float: right;
}

div#header {
	clear: left;
	background: url('/images/bottom_shine.png') repeat-x #000;
	color: #fff;
	height: 90px;
}

	div#header h1 {
		float: left;
		position: relative;
		font-size: 2.5em;
		margin: 5px;
	}

div#body {
	margin: 10px;
	padding: 10px;
	background: url('/images/shadow_top.png') repeat-x #fff;
	border: 1px solid #666;
	min-height: 600px;
}

div#footer {
	position: absolute;
	width: 100%;
	bottom: 0; /* stick to the bottom of the page */

	font-size: 0.9em;
	color: #aaa;
	text-align: center;
	padding-bottom: 5px;
}

	div#footer a {
		color: #ccc;
		text-decoration: none;
	}

		div#footer a:hover {
			color: #fff;
		}

form label {
	color: #333;
	line-height: 25px;
}

form input {
	line-height: 25px;
	border: 1px solid #ccc;
}

form#login {
	background: #FFEBC1;
	border: 2px solid #FDBF3B;
	width: 400px;
	height: 75px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
}

	form#login label {
		width: 100px;
		float: left;
		clear: left;
		text-align: right;
		font-weight: bold;
	}
	
	form#login input {
		float: left;
		margin-left: 20px;
		width: 260px;
	}
	
	form#login a {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	
	form#login button {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}