@charset "utf-8";

html,body {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
	background: #fff url(/images/bottom_shine.png) repeat-x scroll left bottom;

	min-width: 900px;

	font-size: 0.9em;
	font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
	color: #484848;
}

a, a:link, a:visited {
	color: #5a6683;
	font-weight: bold;
	text-decoration: none;
}

	a:hover {
		color: #848ea9;
	}

h2 {
	color: #333;
}

div#container {
	position: relative;

	height: auto !important;
	height: 100%;
	min-height: 100%;
}

div#toplinks {
	background: url('/images/headerMenu.png') repeat-x;
}

div#toplinks ul {
	width: auto;
	margin: 0;
	padding: 0;
	float: left;
}

div#toplinks li {
	list-style: none;
	padding-left: 0.9em;
	display: inline;
	font-size: 0.9em;
	line-height: 28px;
}

div#toplinks li a {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

div#toplinks li a:hover {
	text-decoration: underline;
}

div#account {
	width: auto;
	float: right;
	margin-right: 20px;
}

div#header {
	clear: left;
	background: url('/images/headerGradient.png') repeat-x;
	height: 100px;
	position: relative;
}

	div#header h1 {
		position: absolute;
		right: 5px;
		bottom: 5px;
		margin: 0;
		
		background: url('/images/logo.png');
		width: 210px;
		height: 60px;
	}

		div#header h1 span {
			display: none;
		}

div#header h2 {
	position: absolute;
	left: 5px;
	top: 5px;
	margin: 0;
	padding: 0;
	color: #5a6683;
	font-size: 2.5em;
}

div#main-menu {
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 10px;
}

	div#main-menu ul {
		margin: 0;
		padding: 0;
	}

	div#main-menu li {
		float: left;
		list-style-type: none;
		border-color: #aaa;
		border-style: solid;
		border-width: 1px 1px 0 0;
		background: #dfdfdf url('/images/bottom_shine.png') repeat-x 0 -40px;
	}

	div#main-menu li:first-child {
		-moz-border-radius-topleft: 5px;
	}

	div#main-menu li:last-child {
		-moz-border-radius-topright: 5px;
	}

	div#main-menu a {
		color: #666;
		padding: 5px 10px;
		line-height: 20px;
		display: block;
	}

	div#main-menu li.selected {
		background: #efefef;
	}

div#body {
	margin: 10px;
	padding: 10px;
	/*background: url('/images/shadow_top.png') repeat-x #fff;*/
	min-height: 600px;
}

div#footer {
	position: absolute;
	width: 100%;
	bottom: 0; /* stick to the bottom of the page */

	font-size: 0.9em;
	color: #666;
	text-align: center;
	padding-bottom: 5px;
}

	div#footer a {
		color: #999;
		text-decoration: none;
	}

	div#footer a:hover {
		color: #333;
	}

form label {
	color: #333;
	line-height: 20px;
	width: 100px;
	float: left;
	clear: left;
	text-align: right;
	font-weight: bold;
	margin-top: 10px;
}

form input {
	height: 1.2em;
	float: left;
	margin-left: 20px;
	width: 260px;
	border: 1px solid #ccc;
	margin-top: 10px;
}

	form input:hover {
		border-color: #999;
	}

	form input:focus {
		border-color: #666;
	}

form textarea {
	float: left;
	margin-left: 20px;
	border: 1px solid #ccc;
	width: 88%;
	height: 100px;
	margin-top: 10px;
}

	form textarea:hover {
		border-color: #999;
	}

	form textarea:focus {
		border-color: #666;
	}

form span.description {
	color: #333;
	font-style: italic;
	clear: left;
	float: left;
	margin-left: 120px;
}

form span.required {
	color: #ff0000;
}

form button {
	margin-top: 10px;
	float: left;
	clear: left;
	border: 1px solid #ccc;
}


/*********************
	* Login Form Starts *
	*********************/
form#login {
	background: #FFEBC1;
	border: 2px solid #FDBF3B;
	width: 400px;
	height: 75px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
}

	form#login a {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	form#login button {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}