@charset "utf-8";

html,body {
	margin: 0;
	padding: 0;
	height: 100%; /* needed for container min-height */
	background: #333 url(/images/bottom_shine.png) repeat-x scroll left bottom;
	
	min-width: 900px;

	font-size: 0.9em;
	font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
	color: #484848;
}

a, a:link, a:visited {
	color: #8c8c8c;
	font-weight: bold;
	text-decoration: none;
}

	a:hover {
		color: #ccc;
	}

h2 {
	color: #333;
}

div#container {
	position: relative;

	height: auto !important;
	height: 100%;
	min-height: 100%;
}

div#toplinks ul {
	width: auto;
	margin: 5px;
	padding: 0;
	float: left;
}

div#toplinks li {
	list-style: none;
	display: inline;
	font-size: 0.9em;
}

div#account {
	width: auto;
	float: right;
}

div#header {
	clear: left;
	background: url('/images/bottom_shine.png') repeat-x #000;
	color: #fff;
	height: 5.3;
	position: relative;
}

	div#header h1 {
		float: left;
		position: relative;
		font-size: 2.5em;
		margin: 5px;
	}

div#main-menu {
	position: absolute;
	bottom: 0px;
	left: 6px;
	right: 6px;
}

	div#main-menu ul {
		margin: 0;
		padding: 0;
	}

	div#main-menu li {
		float: left;
		list-style-type: none;
		border-color: #333;
		border-style: solid;
		border-width: 1px 1px 0 0;
		background: #111 url('/images/bottom_shine.png') repeat-x 0 -40px;
	}
	
	div#main-menu li:first-child {
		-moz-border-radius-topleft: 5px;
	}
	
	div#main-menu li:last-child {
		-moz-border-radius-topright: 5px;
	}
	
	div#main-menu a {
		padding: 5px 10px;
		line-height: 20px;
		display: block;
	}
	
	div#main-menu li.selected {
		background: #333;
	}

div#body {
	margin: 10px;
	padding: 10px;
	background: url('/images/shadow_top.png') repeat-x #fff;
	min-height: 600px;
}

div#footer {
	position: absolute;
	width: 100%;
	bottom: 0; /* stick to the bottom of the page */

	font-size: 0.9em;
	color: #aaa;
	text-align: center;
	padding-bottom: 5px;
}

	div#footer a {
		color: #ccc;
		text-decoration: none;
	}

		div#footer a:hover {
			color: #fff;
		}

form label {
	color: #333;
	line-height: 20px;
	width: 100px;
	float: left;
	clear: left;
	text-align: right;
	font-weight: bold;
	margin-top: 10px;
}

form input {
	height: 1.2em;
	float: left;
	margin-left: 20px;
	width: 260px;
	border: 1px solid #ccc;
	margin-top: 10px;
}

	form input:hover {
		border-color: #999;
	}
	
	form input:focus {
		border-color: #666;
	}

form textarea {
	float: left;
	margin-left: 20px;
	border: 1px solid #ccc;
	width: 88%;
	height: 100px;
	margin-top: 10px;
}

	form textarea:hover {
		border-color: #999;
	}
	
	form textarea:focus {
		border-color: #666;
	}

form span.description {
	color: #333;
	font-style: italic;
	clear: left;
	float: left;
	margin-left: 120px;
}

form span.required {
	color: #ff0000;
}

form button {
	margin-top: 10px;
	float: left;
	clear: left;
	border: 1px solid #ccc;
}


/*********************
 * Login Form Starts *
 *********************/
form#login {
	background: #FFEBC1;
	border: 2px solid #FDBF3B;
	width: 400px;
	height: 75px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
}
	
	form#login a {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	
	form#login button {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}